body {
    .container-fluid {
        padding-right: 0px; 
        padding-left: 0px;
    }
    .controlenavbar {
        position: absolute;
        z-index: 3000;
        width: 100%;
        .controlenavbarbutton {
        border: 1px solid white; 
        }
        .nav-link {
            color: white;
        }
    }
    .controleheaderimg
    {
        position: relative;
        background-image: url("../img/background.jpg");
        width: auto;
        height: auto;
        text-align: center;
        background-repeat: no-repeat;
        background-size: cover;
        padding: 15rem;
        h1 {
            color: white;
            margin-top:-200px;
        }
        h2 {
            color: white;
        }
    }  
    .controlebarre
    {
        margin-top: -150px;
        margin-bottom: 110px;
        margin-left:300px;
        width: 1200px;
        display: flex;
        justify-content: center;
        opacity: 0.9;
    }
    .controlecorpus {
        .controlecorpusresult {
            display: flex;
            justify-content: space-around;
        }
        .controlecorpusdiv {
            border-bottom: 1px solid silver;
            padding: 50px;
            display: flex;
            justify-content: space-around;
        }
    }
    .controlefooter {
        display: flex;
        justify-content: center;
        margin-top: 50px;
    }
}   

// relative center cover